<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper bg-blue-lagoon">
            <a class="brand-logo center hide-on-med-and-down"><img class="img-logo"/></a>
            <ul id="nav-mobile">
                <!--<a data-target="slide-out" class="left"><i class="material-icons">menu</i></a>
                 <li>
                    <a data-target="slide-out" class="sidenav-trigger" style="margin: 0">
                        <i style="font-size: 30px;" class="material-icons">menu</i>
                    </a>
                </li> -->
                <ul class="right">
                    <li><a class="tooltipped" data-tooltip="Dashboard" tohref="/"><i class="material-icons">view_module</i></a></li>
                    <li><a class="tooltipped" data-tooltip="Transacoes" href="/transacoes"><i class="material-icons">search</i></a></li>
                    <li><a class="tooltipped" data-tooltip="Sistemas" href=""><i class="material-icons">refresh</i></a></li>
                    <li><a class="tooltipped" data-tooltip="Configurações" href=""><i class="material-icons">more_vert</i></a></li>
                </ul>
            </ul>
        </div>
      </nav>
</div>
<div class="container">
    <div class="progress" *ngIf="routeLoading">
        <label class="center">Aguarde</label>
        <div class="indeterminate"></div>
    </div>
    <router-outlet *ngIf="!routeLoading"></router-outlet>
</div>

